body{
    text-align: center;  /*to place the projects at the center*/
}

#red{
    background-color: red;
    width:135px;
    height:70px;
    font-size: 2em;
    border-radius: 5px;
}

#blue{
    background-color: blue;
    width:135px;
    height:70px;
    font-size: 2em;
    border-radius: 5px;
}

#green{
    background-color: green;
    width:135px;
    height:70px;
    font-size: 2em;
    border-radius: 5px;
}

#random{
    width:135px;
    height:70px;
    font-size: 2em;
    border-radius: 5px;
}